h1{
  font-family: sans-serif;
  text-align: center;
}

th{
  font-size: 18px;
  padding: 10px;
}

table{
  font-family: sans-serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background-color:#e6c1a3;
  color: #656665;
  border: 16px solid #e6c1a3;
  border-radius: 20px;
}

th{
  font-family: sans-serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background-color:#dd9051;
  color: #656665;
  border: 16px solid #dd9051;
  border-radius: 5px;
}

td {
  background-color: #e29e66;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.imgTd{
  display: flex;
}

.imgStyle{
  width: 210px;
  height: 160px;
  border: 2px solid #e29e66;
}
.thumbnailStyle{
  width: 210px;
  height: 160px;
}